pnpm-lock.yaml
.next/**
out/**
build/**
next-env.d.ts
coverage/**
cypress/**
*.config.js
*.config.ts
*.setup.ts
*.setup.tsx
check-memory.mjs
scripts/**/*
public/**/*.js
!public/scripts/*.js
public/**/*.html
**/*.stories.tsx
.storybook/**
playwright-report/**
storybook-static/**
