@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    appearance: none;
    -moz-appearance: textfield !important;
  }

  h1 {
    @apply text-2xl;
    @apply md:text-3xl;
    @apply mb-6;
    @apply font-medium;
    @apply leading-tight;
  }

  h2 {
    @apply text-xl;
    @apply md:text-2xl;
    @apply mb-4;
    @apply font-medium;
    @apply leading-tight;
  }

  h3 {
    @apply text-lg;
    @apply md:text-xl;
    @apply mb-4;
    @apply font-medium;
    @apply leading-tight;
  }

  h3 {
    @apply text-base;
    @apply md:text-lg;
    @apply mb-4;
    @apply font-medium;
    @apply leading-tight;
  }

  h4,
  h5,
  h6 {
    @apply font-medium;
    @apply leading-tight;
  }

  p {
    @apply mb-4;
  }

  blockquote {
    @apply bg-gray-100;
    @apply rounded-md;
    padding: 1rem 1rem 0.25rem;
    margin: 1rem 0;
    @apply text-primary-700;
  }

  code {
    @apply inline-flex;
    @apply text-left;
    @apply items-center;
    @apply space-x-4;
    @apply w-full;
    @apply rounded-xl;
    @apply bg-gray-800;
    @apply text-white;
    @apply p-4;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  direction: ltr;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  @apply inline-block text-primary-700 underline transition-colors hover:text-primary-800;
}

img {
  max-width: 100%;
}

a,
p,
span,
strong {
  line-height: 1.5;
}

sub {
  line-height: 0;
}

html[data-useragent*='MSIE'] #outdated-browser,
html[data-useragent*='Safari'][data-useragent*='Version/8'] #outdated-browser,
html[data-useragent*='Safari'][data-useragent*='Version/7'] #outdated-browser,
html[data-useragent*='Trident'] #outdated-browser {
  display: block !important;
}

html[data-useragent*='MSIE'] #js,
html[data-useragent*='Safari'][data-useragent*='Version/8'] #js,
html[data-useragent*='Safari'][data-useragent*='Version/7'] #js,
html[data-useragent*='Trident'] #js {
  display: none !important;
}

/*
	Animated illustration
*/
.landing-animated-illustration > svg {
  max-width: 32rem;
  height: auto;
  margin: 1rem auto;
  border-radius: 0.8rem;
  width: 95%;
}

.landing-animated-illustration--small > svg {
  max-width: 15rem;
}

.prefix__avion {
  animation: traversée 90s infinite;
  animation-timing-function: linear;
}

@keyframes traversée {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.prefix__fenetres rect:nth-child(3) {
  animation: jour-nuit 60s infinite;
  animation-delay: 1s;
  animation-timing-function: steps(5, end);
}

.prefix__fenetres rect:nth-child(5) {
  animation: jour-nuit 60s infinite;
  animation-delay: 3s;
  animation-timing-function: steps(5, end);
}

.prefix__fenetres rect:nth-child(10) {
  animation: jour-nuit 60s infinite;
  animation-delay: 5s;
  animation-timing-function: steps(5, end);
}

@keyframes jour-nuit {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing-animated-illustration--cycling .prefix__cycliste {
  animation: traversée-inversée 45s infinite; /*, saute linear 1s infinite; Pas possible de combiner les deux, à cause du transform:*/
}
.landing-animated-illustration--cycling .prefix__velo {
  animation: traversée-inversée 45s infinite;
}
@keyframes saute {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(5%);
  }
}
@keyframes traversée-inversée {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/*
	RegionGrid
*/
.region-grid {
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
}
@media (max-width: 400px) {
  .region-grid {
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }
}

.news-page ul {
  padding-left: 1rem;
  list-style: '› ';
}

.news-page ul li {
  margin-bottom: 0.5rem;
}

/*
	Gamecard
*/
.game-card-1 {
  @apply fill-primary-700;
  fill-opacity: 0.996078;
  fill-rule: 'evenodd';
  @apply stroke-primary-700;
  stroke-width: 7.2062;
  stroke-linecap: 'round';
  stroke-linejoin: 'round';
  stroke-miterlimit: 19.2;
  stroke-dasharray: 'none';
  stroke-opacity: 1;
}

.game-card-2 {
  @apply fill-primary-700;
  fill-opacity: 0.996078;
  fill-rule: 'evenodd';
  @apply stroke-primary-700;
  stroke-width: 7.2062;
  stroke-linecap: 'round';
  stroke-linejoin: 'round';
  stroke-miterlimit: 19.2;
  stroke-dasharray: 'none';
  stroke-opacity: 1;
}

.game-card-3 {
  fill: white;
  fill-opacity: 0.997404;
  fill-rule: 'evenodd';
  @apply stroke-primary-700;
  stroke-width: 10.1932;
  stroke-linecap: 'round';
  stroke-linejoin: 'round';
  stroke-miterlimit: 19.2;
  stroke-dasharray: 'none';
  stroke-opacity: 1;
}

.game-card-3-active {
  @apply fill-green-700;
}

.game-card-number {
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0;
  stroke-width: 0.385599;
  fill: 'white';
  font-weight: 'bold';
}

/*
  Statistics (temporary)
*/
.statistics-iframe-table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border-bottom: 2px solid #f0f0f0;
  border-collapse: collapse;
  overflow: hidden;
}
.statistics-iframe-table tr:nth-child(2n + 1) {
  background-color: #f9f8f6;
}

.statistics-iframe-table th {
  padding: 0.75rem 0 0.75rem 0.75rem;
  font-size: 0.875rem;
  text-align: left;
  border-bottom: 2px solid #1e1e1e;
}
.statistics-iframe-table td {
  font-size: 0.8125rem;
  width: 60%;
  padding: 0.5rem;
}
.statistics-iframe-table td + td,
.statistics-iframe-table th + th {
  width: 20%;
  font-weight: 700;
  text-align: right;
}
.statistics-figure-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.statistics-table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: #fff;
  border-bottom: 2px solid #f0f0f0;
  border-collapse: collapse;
  overflow: hidden;
}
.statistics-table tr:nth-child(2n + 1) {
  background-color: #f9f8f6;
}

.statistics-table th {
  padding: 0.75rem 0 0.75rem 0.75rem;
  font-size: 0.875rem;
  text-align: left;
  border-bottom: 2px solid #1e1e1e;
}
.statistics-table .statistics-table td {
  font-size: 0.8125rem;
  width: 60%;
  padding: 0.5rem;
}
.statistics-table td + td,
.statistics-table th + th {
  width: 20%;
  font-weight: 700;
  text-align: right;
}

/*
  Iframe
  */
.iframeOnlySimulation footer {
  display: none;
}

/*
  Accessibility
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*
  Markdown
*/
.markdown ul {
  @apply pl-6;
  @apply list-disc;
  @apply mb-6;
}

.markdown ul > li {
  @apply mb-2;
}

.markdown ol {
  @apply pl-6;
  list-style-type: decimal;
  list-style-position: outside;
  @apply mb-6;
}

.markdown h1 {
  @apply mb-6;
  @apply font-bold;
  @apply leading-10;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply mt-8;
  @apply mb-6;
}

.markdown p {
  @apply mb-6;
}

.markdown blockquote {
  @apply mb-6;
}

.markdown code {
  @apply mb-6;
}

.markdown img {
  @apply border;
  @apply border-gray-200;
  @apply rounded-md;
}

@keyframes rainbow {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-rainbow {
  background: linear-gradient(
    270deg,
    #a2d2fd,
    #cef1d5,
    #ffefbc,
    #ffdbbc,
    #fd69d0,
    #a2d2fd,
    #cef1d5,
    #ffefbc,
    #ffdbbc,
    #fd69d0,
    #a2d2fd
  );
  background-size: 200% 200%;
}

.bg-total-chart {
  background: linear-gradient(270deg, #f96f81, #ffdbbc, #ffefbc, #cef1d5);
}

/*
  Create a rainbow-border class to apply a rainbow border to an element
*/
.rainbow-border {
  background:
    linear-gradient(#fff 0 0) padding-box,
    /*this is your grey background*/
      linear-gradient(145deg, #a2d2fd, #cef1d5, #ffefbc, #ffdbbc, #fd69d0)
      border-box;
  border: 6px solid transparent;
}

.notification blockquote {
  background-color: #fff;
  padding: 0;
}

/*
  Waves
  */
.path-0 {
  animation: pathAnim-0 2s;
  animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      'M 0,600 L 0,150 C 35.54632560876084,136.91760519273473 71.09265121752168,123.83521038546944 112,123 C 152.90734878247832,122.16478961453056 199.17572073867416,133.57676365085692 236,133 C 272.82427926132584,132.42323634914308 300.20446582778186,119.85773501110287 341,122 C 381.79553417221814,124.14226498889713 436.0064159501984,140.99229630473152 486,149 C 535.9935840498016,157.00770369526848 581.7698703714248,156.173079769971 621,169 C 660.2301296285752,181.826920230029 692.9141025641026,208.3153846153846 731,200 C 769.0858974358974,191.6846153846154 812.5737193721651,148.56538176849057 848,135 C 883.4262806278349,121.43461823150942 910.7910199472375,137.42308831065307 945,137 C 979.2089800527625,136.57691168934693 1020.2622008388848,119.7422649888971 1063,115 C 1105.7377991611152,110.2577350111029 1150.1601766972233,117.60785173375848 1194,140 C 1237.8398233027767,162.39214826624152 1281.0970923722218,199.82632807606902 1322,204 C 1362.9029076277782,208.17367192393098 1401.4514538138892,179.0868359619655 1440,150 L 1440,600 L 0,600 Z'
    );
  }
  25% {
    d: path(
      'M 0,600 L 0,150 C 36.00579058247452,117.01318206836342 72.01158116494904,84.02636413672683 115,95 C 157.98841883505096,105.97363586327317 207.95946592267842,160.90772552145611 242,194 C 276.0405340773216,227.09227447854389 294.1505551443375,238.34273377744879 339,215 C 383.8494448556625,191.65726622255121 455.4383134999716,133.72133936874872 497,128 C 538.5616865000284,122.2786606312513 550.0961908557763,168.77190874755644 589,184 C 627.9038091442237,199.22809125244356 694.1769230769231,183.19102564102562 735,161 C 775.8230769230769,138.80897435897438 791.1961168365312,110.46398868834102 830,111 C 868.8038831634688,111.53601131165898 931.0386095769516,140.95301960561028 979,128 C 1026.9613904230484,115.04698039438972 1060.6494448556625,59.72393288921788 1095,77 C 1129.3505551443375,94.27606711078212 1164.3636110003986,184.15124883751827 1205,220 C 1245.6363889996014,255.84875116248173 1291.8961111427434,237.67107176070908 1332,217 C 1372.1038888572566,196.32892823929092 1406.0519444286283,173.16446411964546 1440,150 L 1440,600 L 0,600 Z'
    );
  }
  50% {
    d: path(
      'M 0,600 L 0,150 C 47.67374214731727,178.8297965419727 95.34748429463454,207.6595930839454 136,198 C 176.65251570536546,188.3404069160546 210.28380496877907,140.19142420619104 246,117 C 281.71619503122093,93.80857579380896 319.5172958302492,95.57471009129043 360,120 C 400.4827041697508,144.42528990870957 443.6470117102241,191.5097354286473 481,204 C 518.3529882897759,216.4902645713527 549.8946573288542,194.38634819412022 595,166 C 640.1053426711458,137.61365180587978 698.774358974359,102.94487179487179 740,101 C 781.225641025641,99.05512820512821 805.00790677371,129.8341646263926 843,147 C 880.99209322629,164.1658353736074 933.1940139308012,167.71846969955777 973,158 C 1012.8059860691988,148.28153030044223 1040.2160375030842,125.29195657537628 1071,120 C 1101.7839624969158,114.70804342462372 1135.9418360568618,127.11370399893715 1179,151 C 1222.0581639431382,174.88629600106285 1274.0166182694682,210.2532274288751 1319,212 C 1363.9833817305318,213.7467725711249 1401.9916908652658,181.87338628556245 1440,150 L 1440,600 L 0,600 Z'
    );
  }
  75% {
    d: path(
      'M 0,600 L 0,150 C 41.03889711324943,166.0023515344759 82.07779422649887,182.00470306895178 117,195 C 151.92220577350113,207.99529693104822 180.72772020725387,217.98353925866877 228,223 C 275.27227979274613,228.01646074133123 341.0113249444856,228.06113989637308 382,200 C 422.9886750555144,171.93886010362692 439.22698001480387,115.77190115583898 476,108 C 512.7730199851961,100.22809884416102 570.080754996299,140.85125548027102 617,160 C 663.919245003701,179.14874451972898 700.4499999999999,176.82307692307688 734,188 C 767.5500000000001,199.17692307692312 798.119245003701,223.8564368274213 836,221 C 873.880754996299,218.1435631725787 919.073019985196,187.75117576723792 955,172 C 990.926980014804,156.24882423276208 1017.5886750555144,155.13886010362694 1060,161 C 1102.4113249444856,166.86113989637306 1160.5722797927463,179.6933838182543 1206,160 C 1251.4277202072537,140.3066161817457 1284.122205773501,88.08760462335592 1321,81 C 1357.877794226499,73.91239537664408 1398.9388971132494,111.95619768832205 1440,150 L 1440,600 L 0,600 Z'
    );
  }
  100% {
    d: path(
      'M 0,600 L 0,150 C 35.54632560876084,136.91760519273473 71.09265121752168,123.83521038546944 112,123 C 152.90734878247832,122.16478961453056 199.17572073867416,133.57676365085692 236,133 C 272.82427926132584,132.42323634914308 300.20446582778186,119.85773501110287 341,122 C 381.79553417221814,124.14226498889713 436.0064159501984,140.99229630473152 486,149 C 535.9935840498016,157.00770369526848 581.7698703714248,156.173079769971 621,169 C 660.2301296285752,181.826920230029 692.9141025641026,208.3153846153846 731,200 C 769.0858974358974,191.6846153846154 812.5737193721651,148.56538176849057 848,135 C 883.4262806278349,121.43461823150942 910.7910199472375,137.42308831065307 945,137 C 979.2089800527625,136.57691168934693 1020.2622008388848,119.7422649888971 1063,115 C 1105.7377991611152,110.2577350111029 1150.1601766972233,117.60785173375848 1194,140 C 1237.8398233027767,162.39214826624152 1281.0970923722218,199.82632807606902 1322,204 C 1362.9029076277782,208.17367192393098 1401.4514538138892,179.0868359619655 1440,150 L 1440,600 L 0,600 Z'
    );
  }
}
.path-1 {
  animation: pathAnim-1 2s;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-iteration-count: infinite;
  translate: transformY(20vh);
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      'M 0,600 L 0,350 C 51.81871832830383,347.69078175710297 103.63743665660766,345.381563514206 139,364 C 174.36256334339234,382.618436485794 193.26897170187323,422.164527700279 228,401 C 262.7310282981268,379.835472299721 313.28667653589935,297.960325684678 362,289 C 410.71332346410065,280.039674315322 457.58432215452945,343.9941695610089 499,372 C 540.4156778454706,400.0058304389911 576.3760348459831,392.06299607128625 613,383 C 649.6239651540169,373.93700392871375 686.9115384615384,363.7538461538461 727,363 C 767.0884615384616,362.2461538461539 809.9778113078631,370.9216193133292 850,351 C 890.0221886921369,331.0783806866708 927.177216307009,282.5596765928372 970,302 C 1012.822783692991,321.4403234071628 1061.3133234641007,408.839674315322 1102,414 C 1142.6866765358993,419.160325684678 1175.5694898365882,342.08162614587485 1212,339 C 1248.4305101634118,335.91837385412515 1288.4087171895465,406.83382110117867 1327,421 C 1365.5912828104535,435.16617889882133 1402.795641405227,392.58308944941064 1440,350 L 1440,600 L 0,600 Z'
    );
  }
  25% {
    d: path(
      'M 0,600 L 0,350 C 40.05631441097762,326.7333655981324 80.11262882195524,303.46673119626485 119,303 C 157.88737117804476,302.53326880373515 195.60579912315666,324.8664408130729 231,352 C 266.39420087684334,379.1335591869271 299.46417468541824,411.0675055514434 339,416 C 378.53582531458176,420.9324944485566 424.5375021351706,398.8635369811536 472,363 C 519.4624978648294,327.1364630188464 568.3858167738997,277.4783465239424 610,276 C 651.6141832261003,274.5216534760576 685.9192307692308,321.223076923077 723,332 C 760.0807692307692,342.776923076923 799.9372601491772,317.62934578374995 839,324 C 878.0627398508228,330.37065421625005 916.3317286340601,368.2595399419234 958,374 C 999.6682713659399,379.7404600580766 1044.735825314582,353.33249444855664 1092,360 C 1139.264174685418,366.66750555144336 1188.7249701076125,406.41048226385016 1220,405 C 1251.2750298923875,403.58951773614984 1264.364294254968,361.0255764960428 1298,345 C 1331.635705745032,328.9744235039572 1385.8178528725161,339.48721175197863 1440,350 L 1440,600 L 0,600 Z'
    );
  }
  50% {
    d: path(
      'M 0,600 L 0,350 C 33.66874110345614,311.5665907494923 67.33748220691228,273.1331814989846 114,285 C 160.66251779308772,296.8668185010154 220.31881227580703,359.03386475355387 257,385 C 293.68118772419297,410.96613524644613 307.38726868985935,400.73135948679993 341,379 C 374.61273131014065,357.26864051320007 428.13211296475544,324.0406972992465 469,316 C 509.86788703524456,307.9593027007535 538.0842794511188,325.105851316214 585,340 C 631.9157205488812,354.894148683786 697.5307692307691,367.5358974358974 741,363 C 784.4692307692309,358.4641025641026 805.7926436258044,336.7505589401962 842,330 C 878.2073563741956,323.2494410598038 929.2986562660137,331.46186680331755 965,358 C 1000.7013437339863,384.53813319668245 1021.0127313101407,429.40197384653345 1058,422 C 1094.9872686898593,414.59802615346655 1148.6504184934238,354.93023781054865 1191,333 C 1233.3495815065762,311.06976218945135 1264.3855947161646,326.87707491127185 1304,336 C 1343.6144052838354,345.12292508872815 1391.8072026419177,347.5614625443641 1440,350 L 1440,600 L 0,600 Z'
    );
  }
  75% {
    d: path(
      'M 0,600 L 0,350 C 43.2108504621458,358.43992768889143 86.4217009242916,366.87985537778286 132,378 C 177.5782990757084,389.12014462221714 225.5240467649794,402.92050617776005 259,411 C 292.4759532350206,419.07949382223995 311.48211201579085,421.43811991117684 349,418 C 386.51788798420915,414.56188008882316 442.5475051718573,405.3270141775323 485,410 C 527.4524948281427,414.6729858224677 556.3278672967793,433.2538233786939 595,405 C 633.6721327032207,376.7461766213061 682.1410256410256,301.6576923076923 725,291 C 767.8589743589744,280.3423076923077 805.1080301391181,334.1154073905369 839,374 C 872.8919698608819,413.8845926094631 903.4268538025015,439.88067813016 943,417 C 982.5731461974985,394.11932186984 1031.184554650876,322.36188008882306 1069,319 C 1106.815445349124,315.63811991117694 1133.834927593995,380.67180151454767 1177,380 C 1220.165072406005,379.32819848545233 1279.4757349731444,312.9509138529864 1326,297 C 1372.5242650268556,281.0490861470136 1406.2621325134278,315.52454307350683 1440,350 L 1440,600 L 0,600 Z'
    );
  }
  100% {
    d: path(
      'M 0,600 L 0,350 C 51.81871832830383,347.69078175710297 103.63743665660766,345.381563514206 139,364 C 174.36256334339234,382.618436485794 193.26897170187323,422.164527700279 228,401 C 262.7310282981268,379.835472299721 313.28667653589935,297.960325684678 362,289 C 410.71332346410065,280.039674315322 457.58432215452945,343.9941695610089 499,372 C 540.4156778454706,400.0058304389911 576.3760348459831,392.06299607128625 613,383 C 649.6239651540169,373.93700392871375 686.9115384615384,363.7538461538461 727,363 C 767.0884615384616,362.2461538461539 809.9778113078631,370.9216193133292 850,351 C 890.0221886921369,331.0783806866708 927.177216307009,282.5596765928372 970,302 C 1012.822783692991,321.4403234071628 1061.3133234641007,408.839674315322 1102,414 C 1142.6866765358993,419.160325684678 1175.5694898365882,342.08162614587485 1212,339 C 1248.4305101634118,335.91837385412515 1288.4087171895465,406.83382110117867 1327,421 C 1365.5912828104535,435.16617889882133 1402.795641405227,392.58308944941064 1440,350 L 1440,600 L 0,600 Z'
    );
  }
}
