@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
}

html[data-useragent*='MSIE'] #outdated-browser,
html[data-useragent*='Safari'][data-useragent*='Version/8'] #outdated-browser,
html[data-useragent*='Safari'][data-useragent*='Version/7'] #outdated-browser,
html[data-useragent*='Trident'] #outdated-browser {
	display: block !important;
}

html[data-useragent*='MSIE'] #js,
html[data-useragent*='Safari'][data-useragent*='Version/8'] #js,
html[data-useragent*='Safari'][data-useragent*='Version/7'] #js,
html[data-useragent*='Trident'] #js {
	display: none !important;
}

/*
	Animated illustration
*/
.landing-animated-illustration > svg {
	max-width: 32rem;
	height: auto;
	margin: 1rem auto;
	border-radius: 0.8rem;
	width: 95%;
}

.landing-animated-illustration--small > svg {
	max-width: 15rem;
}

.prefix__avion {
	animation: traversée 90s infinite;
	animation-timing-function: linear;
}

@keyframes traversée {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(100%);
	}
}

.prefix__fenetres rect:nth-child(3) {
	animation: jour-nuit 60s infinite;
	animation-delay: 1s;
	animation-timing-function: steps(5, end);
}

.prefix__fenetres rect:nth-child(5) {
	animation: jour-nuit 60s infinite;
	animation-delay: 3s;
	animation-timing-function: steps(5, end);
}

.prefix__fenetres rect:nth-child(10) {
	animation: jour-nuit 60s infinite;
	animation-delay: 5s;
	animation-timing-function: steps(5, end);
}

@keyframes jour-nuit {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	40% {
		opacity: 0;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.landing-animated-illustration--cycling .prefix__cycliste {
	animation: traversée-inversée 45s infinite; /*, saute linear 1s infinite; Pas possible de combiner les deux, à cause du transform:*/
}
.landing-animated-illustration--cycling .prefix__velo {
	animation: traversée-inversée 45s infinite;
}
@keyframes saute {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(5%);
	}
}
@keyframes traversée-inversée {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}
