name: Deploy

on:
  push:
    branches:
      - preprod

jobs:
  deploy-preprod:
    name: Deploy to Scalingo (preprod)
    runs-on: ubuntu-latest
    environment: Preprod

    steps:
      - name: Exchange token for Bearer token
        id: get_bearer_token
        run: |
          BEARER_TOKEN=$(curl -s -H "Accept: application/json" -H "Content-Type: application/json" \
            -u ":${{ secrets.SCALINGO_API_TOKEN }}" \
            -X POST https://auth.scalingo.com/v1/tokens/exchange | jq -r '.token')
          echo "::add-mask::$BEARER_TOKEN"
          echo "bearer_token=$BEARER_TOKEN" >> $GITHUB_OUTPUT

      - name: Trigger deployment
        run: |
          curl --fail-with-body \
            -H "Accept: application/json" \
            -H "Content-Type: application/json" \
            -H "Authorization: Bearer ${{ steps.get_bearer_token.outputs.bearer_token }}" \
            -X POST "https://api.osc-fr1.scalingo.com/v1/apps/${{ vars.SCALINGO_APP_NAME }}/deployments" \
            -d '{
              "deployment": {
                "git_ref": "${{ github.sha }}",
                "source_url": "https://github.com/${{ github.repository }}/archive/${{ github.sha }}.tar.gz"
              }
            }'

  e2e-preprod:
    needs: deploy-preprod
    uses: ./.github/workflows/e2e.yaml
