name: E2E Tests

on:
  pull_request:
  push:
    branches:
      - main
      - preprod
jobs:
  e2e:
    environment: 'Test E2E'
    strategy:
      matrix:
        ab-test: [false, true]
    runs-on: ubuntu-latest
    name: E2E Tests [AB-test ${{ matrix.ab-test && 'enabled' || 'disabled' }}]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
        with:
          version: 10
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright
        run: pnpm playwright install

      # - name: Generate E2E test specs from personas
      #   run: pnpm e2e:generate
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb
        if: github.event.inputs.branch != 'preprod'
        name: Cache nextJS build
        with:
          path: |
            ${{ github.workspace }}/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}-${{ hashFiles('src/**/*.(js|jsx|ts|tsx)') }}-${{ matrix.ab-test }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/pnpm-lock.yaml') }}-

      - name: Build
        if: github.event.inputs.branch != 'preprod'
        run: pnpm build
        env:
          NEXT_PUBLIC_FORCE_AB_TEST: ${{ matrix.ab-test }}
          NEXT_PUBLIC_SERVER_URL: ${{ vars.NEXT_PUBLIC_SERVER_URL }}

      - name: Run E2E tests
        env:
          PLAYWRIGHT_baseUrl: "${{ github.event.inputs.branch == 'preprod' && 'https://preprod.nosgestesclimat.fr' || 'http://localhost:3000' }}"
          CMS_TOKEN: ${{ secrets.CMS_TOKEN }}
          CMS_URL: ${{ secrets.CMS_URL }}
          NEXT_PUBLIC_SERVER_URL: ${{ vars.NEXT_PUBLIC_SERVER_URL }}

        run: |
          echo "Running tests against ${{ env.PLAYWRIGHT_baseUrl }} (ABTest: ${{ env.NEXT_PUBLIC_FORCE_AB_TEST }})"
          ${{ github.event.inputs.branch != 'preprod' && 'pnpm start &' }}
          pnpm run playwright test

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-ab-test-${{ matrix.ab-test && 'enabled' || 'disabled' }}
          path: playwright-report/
          retention-days: 30
