name: E2E Tests

on:
  pull_request:
  push:
    branches:
      - main
      - preprod
jobs:
  e2e:
    environment: 'Test E2E'
    strategy:
      matrix:
        ab-test: [false, true]
    runs-on: ubuntu-latest
    name: E2E Tests [AB-test ${{ matrix.ab-test && 'enabled' || 'disabled' }}]
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.14'
          cache: yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Install Playwright
        run: yarn playwright install

      # - name: Generate E2E test specs from personas
      #   run: yarn e2e:generate
      - uses: actions/cache@v4
        if: github.event.inputs.branch != 'preprod'
        name: Cache nextJS build
        with:
          path: |
            ${{ github.workspace }}/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('src/**/*.(js|jsx|ts|tsx)') }}-${{ matrix.ab-test }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-

      - name: Build
        if: github.event.inputs.branch != 'preprod'
        run: yarn build
        env:
          NEXT_PUBLIC_FORCE_AB_TEST: ${{ matrix.ab-test }}
          NEXT_PUBLIC_SERVER_URL: ${{ vars.NEXT_PUBLIC_SERVER_URL }}

      - name: Run E2E tests
        env:
          PLAYWRIGHT_baseUrl: "${{ github.event.inputs.branch == 'preprod' && 'https://preprod.nosgestesclimat.fr' || 'http://localhost:3000' }}"
          CMS_TOKEN: ${{ secrets.CMS_TOKEN }}
          CMS_URL: ${{ secrets.CMS_URL }}
          NEXT_PUBLIC_SERVER_URL: ${{ vars.NEXT_PUBLIC_SERVER_URL }}

        run: |
          echo "Running tests against ${{ env.PLAYWRIGHT_baseUrl }} (ABTest: ${{ env.NEXT_PUBLIC_FORCE_AB_TEST }})"
          ${{ github.event.inputs.branch != 'preprod' && 'yarn start &' }}
          yarn run playwright test

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report-ab-test-${{ matrix.ab-test && 'enabled' || 'disabled' }}
          path: playwright-report/
          retention-days: 30
