name: Iframe Healthcheck
permissions:
  contents: read

on:
  schedule:
    - cron: '0 5 * * *' # Runs at 5:00 AM UTC
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to test'
        required: true
        type: string

jobs:
  healthcheck:
    name: Run iframe healthcheck
    runs-on: ubuntu-latest
    env:
      MATTERMOST_WEBHOOK_URL: ${{ vars.MATTERMOST_WEBHOOK_URL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version-file: './package.json'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      - name: Install Playwright
        run: npx playwright install chromium

      - name: Run iframe healthcheck
        id: healthcheck
        run: pnpm iframe-healthcheck
