name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Unit test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install

      - name: Run unit tests
        env:
          NEXT_PUBLIC_TALLY_FORM_ID: ${{ vars.NEXT_PUBLIC_TALLY_FORM_ID }}
        run: pnpm test --coverage

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.14'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --immutable

      - name: Run lint
        run: |
          pnpm next typegen;
          pnpm lint

  type:
    name: Typecheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.14'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --immutable

      - name: Run typecheck
        run: |
          pnpm next typegen;
          pnpm lint:types
